<?php //if ( powerform_array_value_exists( $properties, 'poll-colors' ) ) { ?>
<?php if ( powerform_array_value_exists( $properties, 'box_border' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material { border-color:
<?php echo $properties['box_border'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material { border-color: #E9E9E9; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'box_background' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material { background-color:
<?php echo $properties['box_background'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material { background-color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-shadow' ) ) { ?>
<?php if ( powerform_array_value_exists( $properties, 'box_shadow' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material { box-shadow: 0 2px 0 0
<?php echo $properties['box_shadow'] ?>; -moz-box-shadow: 0 2px 0 0
<?php echo $properties['box_shadow'] ?>; -webkit-box-shadow: 0 2px 0 0
<?php echo $properties['box_shadow'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material { box-shadow: 0 2px 0 0 #E6E6E6; -moz-box-shadow: 0 2px 0 0 #E6E6E6; -webkit-box-shadow: 0 2px 0 0 #E6E6E6; }
<?php } ?>
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'poll_question' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--question { color:
<?php echo $properties['poll_question'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions .powerform-note { color:
<?php echo $properties['poll_question'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--question { color: #333333; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions .powerform-note { color: #333333; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'poll_description' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--description { color:
<?php echo $properties['poll_description'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--description { color: #4D4D4D; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'poll_answers' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--label { color:
<?php echo $properties['poll_answers'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--label { color: #000000; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'inputbo' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--design { border-color:
<?php echo $properties['inputbo'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--design:after { background-color:
<?php echo $properties['inputbo'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--design { border-color: #777771; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--design:after { background-color: #777771; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'inputbo_active' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--input:checked + .powerform-radio--design { border-color:
<?php echo $properties['inputbo_active'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--input:checked + .powerform-radio--design:after { background-color:
<?php echo $properties['inputbo_active'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--input:checked + .powerform-radio--design { border-color: #17A8E3; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--input:checked + .powerform-radio--design:after { background-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'radio_dot' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--design:before { background-color:
<?php echo $properties['radio_dot'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio .powerform-radio--design:before { background-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'input_text' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input { color:
<?php echo $properties['input_text'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input { color: #000000; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-moz-placeholder { color:
<?php echo $properties['input_placeholder'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-moz-placeholder { color:
<?php echo $properties['input_placeholder'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-ms-input-placeholder { color:
<?php echo $properties['input_placeholder'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-webki-input-placeholder { color:
<?php echo $properties['input_placeholder'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-floating--input .powerform-label, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-floating--input .powerform-label .wpdui-icon { color:
<?php echo $properties['input_placeholder'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-moz-placeholder { color: #AAAAAA; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-moz-placeholder { color: #AAAAAA; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-ms-input-placeholder { color: #AAAAAA; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-webki-input-placeholder { color: #AAAAAA; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-floating--input .powerform-label, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-floating--input .powerform-label .wpdui-icon { color: #AAAAAA; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_static' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input { border-color:
<?php echo $properties['powerform-poll-input-border_static'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input { border-color: #777771; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_hover' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input--wrap:after { background:
<?php echo $properties['powerform-poll-input-border_hover'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_hover .powerform-textarea--wrap:after { box-shadow: inset 0 0 0 2px
<?php echo $properties['powerform-poll-input-border_hover'] ?>; -moz-box-shadow: inset 0 0 0 2px
<?php echo $properties['powerform-poll-input-border_hover'] ?>; -webkit-box-shadow: inset 0 0 0 2px
<?php echo $properties['powerform-poll-input-border_hover'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-is_hover .powerform-floating--input .powerform-label, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-is_hover .powerform-floating--input .powerform-label .wpdui-icon { color:
<?php echo $properties['powerform-poll-input-border_hover'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input--wrap:after { background: #17A8E3; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_hover .powerform-textarea--wrap:after { box-shadow: inset 0 0 0 2px #17A8E3; -moz-box-shadow: inset 0 0 0 2px #17A8E3; -webkit-box-shadow: inset 0 0 0 2px #17A8E3; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-is_hover .powerform-floating--input .powerform-label, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-is_hover .powerform-floating--input .powerform-label .wpdui-icon { color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_active' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-input--wrap:after { background:
<?php echo $properties['powerform-poll-input-border_active'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-textarea--wrap:after { box-shadow: inset 0 0 0 2px
<?php echo $properties['powerform-poll-input-border_active'] ?>; -moz-box-shadow: inset 0 0 0 2px
<?php echo $properties['powerform-poll-input-border_active'] ?>; -webkit-box-shadow: inset 0 0 0 2px
<?php echo $properties['powerform-poll-input-border_active'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-floating--input .powerform-label, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-floating--input .powerform-label .wpdui-icon { color:
<?php echo $properties['powerform-poll-input-border_active'] ?>; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-is_hover.powerform-is_active .powerform-floating--input .powerform-label, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-is_hover.powerform-is_active .powerform-floating--input .powerform-label .wpdui-icon { color:
<?php echo $properties['powerform-poll-input-border_active'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-input--wrap:after { background: #17A8E3; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-textarea--wrap:after { box-shadow: inset 0 0 0 2px #17A8E3; -moz-box-shadow: inset 0 0 0 2px #17A8E3; -webkit-box-shadow: inset 0 0 0 2px #17A8E3; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-floating--input .powerform-label, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-floating--input .powerform-label .wpdui-icon { color: #17A8E3; } .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-is_hover.powerform-is_active .powerform-floating--input .powerform-label, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-is_hover.powerform-is_active .powerform-floating--input .powerform-label .wpdui-icon { color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'buttontxt' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button { color:
<?php echo $properties['buttontxt'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'buttontxt_hover' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button:hover { color:
<?php echo $properties['buttontxt_hover'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button:hover { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'buttontxt_active' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button:active { color:
<?php echo $properties['buttontxt_active'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button:active { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'buttonbg' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button { background-color:
<?php echo $properties['buttonbg'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button { background-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'buttonbg_hover' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button:hover { background-color:
<?php echo $properties['buttonbg_hover'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button:hover { background-color: #008FCA; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'buttonbg_active' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button:active { background-color:
<?php echo $properties['buttonbg_active'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button:active { background-color: #008FCA; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'color_link' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions a, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions a:visited { color:
<?php echo $properties['color_link'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions a, .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions a:visited { color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'color_link_hover' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions a:hover { color:
<?php echo $properties['color_link_hover'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions a:hover { color: #008FCA; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'color_link_active' ) ) { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions a:active { color:
<?php echo $properties['color_link_active'] ?>; }
<?php } else { ?> .powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-poll--actions a:active { color: #008FCA; }
<?php } ?>
<?php //} ?> .powerform-poll-
<?php echo $properties['form_id'] ?> .powerform-poll--chart svg > g:last-child > g:last-child { pointer-events: none; } .powerform-poll-
<?php echo $properties['form_id'] ?> .powerform-poll--chart .google-visualization-tooltip { pointer-events: none; } .powerform-poll-
<?php echo $properties['form_id'] ?> .powerform-poll--chart .google-visualization-tooltip-item { white-space: nowrap; }