<?php if ( powerform_array_value_exists( $properties, 'poll-colors' ) ) { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:active {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_static' ) && !empty( $properties['powerform-poll-input-border_static'] ) ) { ?> border-color:
<?php echo $properties['powerform-poll-input-border_static'] ?>;
<?php } else { ?> border-color: #777771;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'input_text' ) && !empty( $properties['input_text'] ) ) { ?> color:
<?php echo $properties['input_text'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:active {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_static' ) && !empty( $properties['powerform-poll-input-border_static'] ) ) { ?> border-color:
<?php echo $properties['powerform-poll-input-border_static'] ?>;
<?php } else { ?> border-color: #777771;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'input_text' ) && !empty( $properties['input_text'] ) ) { ?> color:
<?php echo $properties['input_text'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-moz-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-moz-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-ms-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-ms-input-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-webkit-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-webkit-input-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input--wrap:after, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input--wrap:after {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_hover' ) && !empty( $properties['powerform-poll-input-border_hover'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-border_hover'] ?>;
<?php } else { ?> background-color: #17A8E3;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-input--wrap:after, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-input--wrap:after {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_active' ) && !empty( $properties['powerform-poll-input-border_active'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-border_active'] ?>;
<?php } else { ?> background-color: #17A8E3;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-has_error .powerform-input--wrap:after, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-has_error .powerform-input--wrap:after {
<?php if ( powerform_array_value_exists( $properties, 'error_color' ) && !empty( $properties['error_color'] ) ) { ?> background-color:
<?php echo $properties['error_color'] ?>;
<?php } else { ?> background-color: #E04562;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:active { border-color: #777771; color: #000000; } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:active { border-color: #777771; color: #000000; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-moz-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-moz-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-ms-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input:-ms-input-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-webkit-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input::-webkit-input-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input--wrap:after, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-input--wrap:after { background-color: #17A8E3; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-input--wrap:after, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-input--wrap:after { background-color: #17A8E3; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-has_error .powerform-input--wrap:after, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-has_error .powerform-input--wrap:after { background-color: #E04562; }

<?php } ?>