<?php if ( powerform_array_value_exists( $properties, 'poll-colors' ) ) { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success {
<?php if ( powerform_array_value_exists( $properties, 'response-success-border' ) && !empty( $properties['response-success-border'] ) ) { ?> box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } else { ?> box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:active {
<?php if ( powerform_array_value_exists( $properties, 'response-success-border' ) && !empty( $properties['response-success-border'] ) ) { ?> box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } else { ?> box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:active {
<?php if ( powerform_array_value_exists( $properties, 'response-success-border' ) && !empty( $properties['response-success-border'] ) ) { ?> box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } else { ?> box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success p {
<?php if ( powerform_array_value_exists( $properties, 'response-success-color' ) && !empty( $properties['response-success-color'] ) ) { ?> color:
<?php echo $properties['response-success-color'] ?>;
<?php } else { ?> color: #333333;
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success p {
<?php if ( powerform_array_value_exists( $properties, 'response-success-color' ) && !empty( $properties['response-success-color'] ) ) { ?> color:
<?php echo $properties['response-success-color'] ?>;
<?php } else { ?> color: #333333;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success { box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0
0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:active { box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px
0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success:active { box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px
0 0 0 #1ABCA1, 1px 1px 4px 0 rgba(0,0,0,0.3); } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success p { color: #333333; } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-success p { color: #333333; }

<?php } ?>