<?php if ( powerform_array_value_exists( $properties, 'poll-colors' ) ) { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error {
<?php if ( powerform_array_value_exists( $properties, 'error_border' ) && !empty( $properties['error_border'] ) ) { ?> box-shadow: inset 4px 0 0 0
<?php echo $properties['error_border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0
<?php echo $properties['error_border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0
<?php echo $properties['error_border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } else { ?> box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:active {
<?php if ( powerform_array_value_exists( $properties, 'error_border' ) && !empty( $properties['error_border'] ) ) { ?> box-shadow: inset 4px 0 0 0
<?php echo $properties['error_border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0
<?php echo $properties['error_border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0
<?php echo $properties['error_border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } else { ?> box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:active {
<?php if ( powerform_array_value_exists( $properties, 'error_border' ) && !empty( $properties['error_border'] ) ) { ?> box-shadow: inset 4px 0 0 0
<?php echo $properties['error_border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0
<?php echo $properties['error_border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0
<?php echo $properties['error_border'] ?>, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } else { ?> box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3);
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error p {
<?php if ( powerform_array_value_exists( $properties, 'error_text' ) && !empty( $properties['error_text'] ) ) { ?> color:
<?php echo $properties['error_text'] ?>;
<?php } else { ?> color: #333333;
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error p {
<?php if ( powerform_array_value_exists( $properties, 'error_text' ) && !empty( $properties['error_text'] ) ) { ?> color:
<?php echo $properties['error_text'] ?>;
<?php } else { ?> color: #333333;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error { box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px 0 0 0
#E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:active { box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px
0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error:active { box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 4px 0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 4px
0 0 0 #E04562, 1px 1px 4px 0 rgba(0,0,0,0.3); } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error p { color: #333333; } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-error p { color: #333333; }

<?php } ?>