<?php if ( powerform_array_value_exists( $properties, 'poll-colors' ) ) { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit {
<?php if ( powerform_array_value_exists( $properties, 'button-submit-background-static' ) && !empty( $properties['button-submit-background-static'] ) ) { ?> background-color:
<?php echo $properties['button-submit-background-static'] ?>;
<?php } else { ?> background-color: #17A8E3;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'button-submit-color-static' ) && !empty( $properties['button-submit-color-static'] ) ) { ?> color:
<?php echo $properties['button-submit-color-static'] ?>;
<?php } else { ?> color: #FFFFFF;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit:hover {
<?php if ( powerform_array_value_exists( $properties, 'button-submit-background-hover' ) && !empty( $properties['button-submit-background-hover'] ) ) { ?> background-color:
<?php echo $properties['button-submit-background-hover'] ?>;
<?php } else { ?> background-color: #008FCA;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'button-submit-color-hover' ) && !empty( $properties['button-submit-color-hover'] ) ) { ?> color:
<?php echo $properties['button-submit-color-hover'] ?>;
<?php } else { ?> color: #FFFFFF;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit:active, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit:active {
<?php if ( powerform_array_value_exists( $properties, 'button-submit-background-active' ) && !empty( $properties['button-submit-background-active'] ) ) { ?> background-color:
<?php echo $properties['button-submit-background-active'] ?>;
<?php } else { ?> background-color: #008FCA;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'button-submit-color-active' ) && !empty( $properties['button-submit-color-active'] ) ) { ?> color:
<?php echo $properties['button-submit-color-active'] ?>;
<?php } else { ?> color: #FFFFFF;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit { background-color: #17A8E3; color: #FFFFFF; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit:hover { background-color: #008FCA; color: #FFFFFF; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit:active, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-button-submit:active { background-color: #008FCA; color: #FFFFFF; }

<?php } ?>