<?php if ( powerform_array_value_exists( $properties, 'form-font-family' ) ) { ?> .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description-password, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description-password { display: block; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description p, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description p {
<?php if ( powerform_array_value_exists( $properties, 'cform-description-font-size' ) ) { ?> font-size:
<?php echo $properties['cform-description-font-size'] ?>px;
<?php } else { ?> font-size: 12px;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'cform-description-font-family' ) ) { ?>
<?php if ( $properties['cform-description-font-family'] != 'custom' && !empty( $properties['cform-description-font-family'] ) ) { ?> font-family:
<?php echo $properties['cform-description-font-family'] ?>;
<?php } else if ( $properties['cform-description-font-family'] == 'custom' && !empty( $properties['cform-description-custom-family'] ) ) { ?> font-family:
<?php echo $properties['cform-description-custom-family'] ?>;
<?php } else { ?> font-family: inherit;
<?php } ?>
<?php } else { ?> font-family: inherit;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'cform-description-font-weight' ) ) { ?>
<?php powerform_echo_font_weight( $properties, 'cform-description-font-weight' ); ?>
<?php } else { ?> font-weight: 400;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:hover, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:focus, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:active, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:active { box-shadow: none; text-decoration: none; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description p, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description p { margin: 0; padding: 0; border: 0; }

<?php } else { ?> .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description-password, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description-password { display: block; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description p, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description p { font-size: 12px; font-family: inherit; font-weight: 400; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:hover, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:focus, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:active, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description a:active { box-shadow: none; text-decoration: none; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description p, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-description p { margin: 0; padding: 0; border: 0; }

<?php } ?>