<?php if ( powerform_array_value_exists( $properties, 'cform-color-settings' ) ) { ?> .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success {
<?php if ( powerform_array_value_exists( $properties, 'response-success-background' ) && !empty( $properties['response-success-background'] ) ) { ?> background-color:
<?php echo $properties['response-success-background'] ?>;
<?php } else { ?> background-color: #BCEEE6;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'response-success-border' ) && !empty( $properties['response-success-border'] ) ) { ?> box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>; -moz-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>; -webkit-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>;
<?php } else { ?> box-shadow: inset 4px 0 0 0 #1ABCA1; -moz-box-shadow: inset 4px 0 0 0 #1ABCA1; -webkit-box-shadow: inset 4px 0 0 0 #1ABCA1;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:hover, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:focus, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:active {
<?php if ( powerform_array_value_exists( $properties, 'response-success-border' ) && !empty( $properties['response-success-border'] ) ) { ?> box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>; -moz-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>; -webkit-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>;
<?php } else { ?> box-shadow: inset 4px 0 0 0 #1ABCA1; -moz-box-shadow: inset 4px 0 0 0 #1ABCA1; -webkit-box-shadow: inset 4px 0 0 0 #1ABCA1;
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:active {
<?php if ( powerform_array_value_exists( $properties, 'response-success-border' ) && !empty( $properties['response-success-border'] ) ) { ?> box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>; -moz-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>; -webkit-box-shadow: inset 4px 0 0 0
<?php echo $properties['response-success-border'] ?>;
<?php } else { ?> box-shadow: inset 4px 0 0 0 #1ABCA1; -moz-box-shadow: inset 4px 0 0 0 #1ABCA1; -webkit-box-shadow: inset 4px 0 0 0 #1ABCA1;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success p {
<?php if ( powerform_array_value_exists( $properties, 'response-success-color' ) && !empty( $properties['response-success-color'] ) ) { ?> color:
<?php echo $properties['response-success-color'] ?>;
<?php } else { ?> color: #333333;
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success p {
<?php if ( powerform_array_value_exists( $properties, 'response-success-color' ) && !empty( $properties['response-success-color'] ) ) { ?> color:
<?php echo $properties['response-success-color'] ?>;
<?php } else { ?> color: #333333;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success { background-color: #BCEEE6; box-shadow: inset 4px 0 0 0 #1ABCA1; -moz-box-shadow: inset 4px 0 0 0 #1ABCA1; -webkit-box-shadow: inset 4px 0 0 0 #1ABCA1; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:hover, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:focus, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:active { box-shadow: inset 4px 0 0 0 #1ABCA1; -moz-box-shadow: inset 4px 0 0 0 #1ABCA1; -webkit-box-shadow: inset 4px 0 0 0 #1ABCA1; } .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success:active { box-shadow: inset 4px 0 0 0 #1ABCA1; -moz-box-shadow: inset 4px 0 0 0 #1ABCA1; -webkit-box-shadow: inset 4px 0 0 0 #1ABCA1; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success p { color: #333333; } .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-response-message.powerform-success p { color: #333333; }

<?php } ?>