<?php if ( powerform_array_value_exists( $properties, 'cform-color-settings' ) ) { ?> .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-label[class*="powerform-floating-"] {
<?php if ( powerform_array_value_exists( $properties, 'input-placeholder' ) && !empty( $properties['input-placeholder'] ) ) { ?> color:
<?php echo $properties['input-placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-label:not([class*="powerform-floating-"]) {
<?php if ( powerform_array_value_exists( $properties, 'cform-label-color' ) && !empty( $properties['cform-label-color'] ) ) { ?> color:
<?php echo $properties['cform-label-color'] ?>;
<?php } else { ?> color: #777771;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-label:not([class*="powerform-floating-"]) .powerform-required {
<?php if ( powerform_array_value_exists( $properties, 'cform-asterisk-color' ) && !empty( $properties['cform-asterisk-color'] ) ) { ?> color:
<?php echo $properties['cform-asterisk-color'] ?>;
<?php } else { ?> color: #E04562;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled .powerform-label[class*="powerform-floating-"] {
<?php if ( powerform_array_value_exists( $properties, 'cform-label-color' ) && !empty( $properties['cform-label-color'] ) ) { ?> color:
<?php echo $properties['cform-label-color'] ?>;
<?php } else { ?> color: #777771;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-label[class*="powerform-floating-"] {
<?php if ( powerform_array_value_exists( $properties, 'input-border-active' ) && !empty( $properties['input-border-active'] ) ) { ?> color:
<?php echo $properties['input-border-active'] ?>;
<?php } else { ?> color: #17A8E3;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-has_error .powerform-label[class*="powerform-floating-"], .powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active.powerform-has_error .powerform-label[class*="powerform-floating-"] {
<?php if ( powerform_array_value_exists( $properties, 'label-validation-color' ) && !empty( $properties['label-validation-color'] ) ) { ?> color:
<?php echo $properties['label-validation-color'] ?>;
<?php } else { ?> color: #E04562;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled .powerform-label[class*="powerform-floating-"] .powerform-required, .powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-label[class*="powerform-floating-"] .powerform-required {
<?php if ( powerform_array_value_exists( $properties, 'cform-asterisk-color' ) && !empty( $properties['cform-asterisk-color'] ) ) { ?> color:
<?php echo $properties['cform-asterisk-color'] ?>;
<?php } else { ?> color: #E04562;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-has_error .powerform-label[class*="powerform-floating-"] .powerform-required, .powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active.powerform-has_error .powerform-label[class*="powerform-floating-"] .powerform-required {
<?php if ( powerform_array_value_exists( $properties, 'label-validation-color' ) && !empty( $properties['label-validation-color'] ) ) { ?> color:
<?php echo $properties['label-validation-color'] ?>;
<?php } else { ?> color: #E04562;
<?php } ?> }

<?php } else { ?> .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-label[class*="powerform-floating-"] { color: #888888; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-label:not([class*="powerform-floating-"]) { color: #777771; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-label:not([class*="powerform-floating-"]) .powerform-required { color: #E04562; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled .powerform-label[class*="powerform-floating-"] { color: #777771; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-label[class*="powerform-floating-"] { color: #17A8E3; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-has_error .powerform-label[class*="powerform-floating-"], .powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active.powerform-has_error .powerform-label[class*="powerform-floating-"] { color: #E04562; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled .powerform-label[class*="powerform-floating-"] .powerform-required, .powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-label[class*="powerform-floating-"] .powerform-required { color: #E04562; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_filled.powerform-has_error .powerform-label[class*="powerform-floating-"] .powerform-required, .powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active.powerform-has_error .powerform-label[class*="powerform-floating-"] .powerform-required { color: #E04562; }

<?php } ?>