<?php if ( powerform_array_value_exists( $properties, 'form-font-family' ) ) { ?> .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-pagination-steps .powerform-step .powerform-step-label {
<?php if ( powerform_array_value_exists( $properties, 'cform-timeline-font-size' ) ) { ?> font-size:
<?php echo $properties['cform-timeline-font-size'] ?>px;
<?php } else { ?> font-size: 12px;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'cform-timeline-font-family' ) ) { ?>
<?php if ( $properties['cform-timeline-font-family'] != 'custom' && !empty( $properties['cform-timeline-font-family'] ) ) { ?> font-family:
<?php echo $properties['cform-timeline-font-family'] ?>;
<?php } else if ( $properties['cform-timeline-font-family'] == 'custom' && !empty( $properties['cform-timeline-custom-family'] ) ) { ?> font-family:
<?php echo $properties['cform-timeline-custom-family'] ?>;
<?php } else { ?> font-family: inherit;
<?php } ?>
<?php } else { ?> font-family: inherit;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'cform-timeline-font-weight' ) ) { ?>
<?php powerform_echo_font_weight( $properties, 'cform-timeline-font-weight' ); ?>
<?php } else { ?> font-weight: 500;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-pagination-steps .powerform-step .powerform-step-dot {
<?php if ( powerform_array_value_exists( $properties, 'cform-timeline-font-size' ) ) { ?> font-size:
<?php echo ($properties['cform-timeline-font-size'] + 1) ?>px;
<?php } else { ?> font-size: 13px;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'cform-timeline-font-family' ) ) { ?>
<?php if ( $properties['cform-timeline-font-family'] != 'custom' && !empty( $properties['cform-timeline-font-family'] ) ) { ?> font-family:
<?php echo $properties['cform-timeline-font-family'] ?>;
<?php } else if ( $properties['cform-timeline-font-family'] == 'custom' && !empty( $properties['cform-timeline-custom-family'] ) ) { ?> font-family:
<?php echo $properties['cform-timeline-custom-family'] ?>;
<?php } else { ?> font-family: inherit;
<?php } ?>
<?php } else { ?> font-family: inherit;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'cform-timeline-font-weight' ) ) { ?>
<?php powerform_echo_font_weight( $properties, 'cform-timeline-font-weight' ); ?>
<?php } else { ?> font-weight: 500;
<?php } ?> }

<?php } else { ?> .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-pagination-steps .powerform-step .powerform-step-label { font-size: 12px; font-family: inherit; font-weight: 500; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-pagination-steps .powerform-step .powerform-step-dot { font-size: 13px; font-family: inherit; font-weight: 500; }

<?php } ?>