<?php if ( powerform_array_value_exists( $properties, 'cform-color-settings' ) ) { ?> .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio {
<?php if ( powerform_array_value_exists( $properties, 'radio-label' ) && !empty( $properties['radio-label'] ) ) { ?> color:
<?php echo $properties['radio-label'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio span[aria-hidden] {
<?php if ( powerform_array_value_exists( $properties, 'radio-border-static' ) && !empty( $properties['radio-border-static'] ) ) { ?> border-color:
<?php echo $properties['radio-border-static'] ?>;
<?php } else { ?> border-color: #777771;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio span[aria-hidden]:before {
<?php if ( powerform_array_value_exists( $properties, 'radio-icon' ) && !empty( $properties['radio-icon'] ) ) { ?> background-color:
<?php echo $properties['radio-icon'] ?>;
<?php } else { ?> background-color: #17A8E3;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio span[aria-hidden]:after {
<?php if ( powerform_array_value_exists( $properties, 'radio-border-active' ) && !empty( $properties['radio-border-active'] ) ) { ?> background-color:
<?php echo $properties['radio-border-active'] ?>;
<?php } else { ?> background-color: #17A8E3;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio input:checked + span[aria-hidden] {
<?php if ( powerform_array_value_exists( $properties, 'radio-border-active' ) && !empty( $properties['radio-border-active'] ) ) { ?> border-color:
<?php echo $properties['radio-border-active'] ?>;
<?php } else { ?> border-color: #17A8E3;
<?php } ?> } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-has_error .powerform-radio span[aria-hidden] {
<?php if ( powerform_array_value_exists( $properties, 'label-validation-color' ) && !empty( $properties['label-validation-color'] ) ) { ?> border-color:
<?php echo $properties['label-validation-color'] ?>;
<?php } else { ?> border-color: #E04562;
<?php } ?> }

<?php } else { ?> .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio { color: #000000; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio span[aria-hidden] { border-color: #777771; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio span[aria-hidden]:before { background-color: #17A8E3; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio span[aria-hidden]:after { background-color: #17A8E3; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-radio input:checked + span[aria-hidden] { border-color: #17A8E3; } .powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-has_error .powerform-radio span[aria-hidden] { border-color: #E04562; }

<?php } ?>