<?php if ( powerform_array_value_exists( $properties, 'cform-color-settings' ) ) { ?> .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading {
<?php if ( powerform_array_value_exists( $properties, 'response-loading-background' ) && !empty( $properties['response-loading-background'] ) ) { ?> background-color:
<?php echo $properties['response-loading-background'] ?>;
<?php } else { ?> background-color: #F8F8F8;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading p {
<?php if ( powerform_array_value_exists( $properties, 'response-loading-color' ) && !empty( $properties['response-loading-color'] ) ) { ?> color:
<?php echo $properties['response-loading-color'] ?>;
<?php } else { ?> color: #666666;
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading p {
<?php if ( powerform_array_value_exists( $properties, 'response-loading-color' ) && !empty( $properties['response-loading-color'] ) ) { ?> color:
<?php echo $properties['response-loading-color'] ?>;
<?php } else { ?> color: #666666;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading { background-color: #F8F8F8; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading, .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading p { color: #666666; } .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading, .et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-
<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-response-message.powerform-loading p { color: #666666; }

<?php } ?>