<?php if ( powerform_array_value_exists( $properties, 'cform-color-settings' ) ) { ?> .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-select-container .powerform-select-list .powerform-value {
<?php if ( powerform_array_value_exists( $properties, 'select-border-static' ) && !empty( $properties['select-border-static'] ) ) { ?> box-shadow: inset 0 -1px 0 0
<?php echo $properties['select-border-static'] ?>; -moz-box-shadow: inset 0 -1px 0 0
<?php echo $properties['select-border-static'] ?>; -webkit-box-shadow: inset 0 -1px 0 0
<?php echo $properties['select-border-static'] ?>;
<?php } else { ?> box-shadow: inset 0 -1px 0 0 #777771; -moz-box-shadow: inset 0 -1px 0 0 #777771; -webkit-box-shadow: inset 0 -1px 0 0 #777771;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'select-value-static' ) && !empty( $properties['select-value-static'] ) ) { ?> color:
<?php echo $properties['select-value-static'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-select-container .powerform-select-list .powerform-value:before {
<?php if ( powerform_array_value_exists( $properties, 'select-border-hover' ) && !empty( $properties['select-border-hover'] ) ) { ?> background-color:
<?php echo $properties['select-border-hover'] ?>;
<?php } else { ?> background-color: #17A8E3;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-select-container .powerform-select-list .powerform-dropdown-handle [class*=powerform-icon-] {
<?php if ( powerform_array_value_exists( $properties, 'select-icon-static' ) && !empty( $properties['select-icon-static'] ) ) { ?> color:
<?php echo $properties['select-icon-static'] ?>;
<?php } else { ?> color: #777771;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_hover .powerform-select-container .powerform-select-list .powerform-value {
<?php if ( powerform_array_value_exists( $properties, 'select-value-hover' ) && !empty( $properties['select-value-hover'] ) ) { ?> color:
<?php echo $properties['select-value-hover'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_hover .powerform-select-container .powerform-select-list .powerform-dropdown-handle [class*=powerform-icon-] {
<?php if ( powerform_array_value_exists( $properties, 'select-icon-hover' ) && !empty( $properties['select-icon-hover'] ) ) { ?> color:
<?php echo $properties['select-icon-hover'] ?>;
<?php } else { ?> color: #17A8E3;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-select-container .powerform-select-list .powerform-value:before {
<?php if ( powerform_array_value_exists( $properties, 'select-border-active' ) && !empty( $properties['select-border-active'] ) ) { ?> background-color:
<?php echo $properties['select-border-active'] ?>;
<?php } else { ?> background-color: #17A8E3;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-select-container .powerform-select-list .powerform-value {
<?php if ( powerform_array_value_exists( $properties, 'select-value-active' ) && !empty( $properties['select-value-active'] ) ) { ?> color:
<?php echo $properties['select-value-active'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-select-container .powerform-select-list .powerform-dropdown-handle [class*=powerform-icon-] {
<?php if ( powerform_array_value_exists( $properties, 'select-icon-active' ) && !empty( $properties['select-icon-active'] ) ) { ?> color:
<?php echo $properties['select-icon-active'] ?>;
<?php } else { ?> color: #17A8E3;
<?php } ?> } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-has_error .powerform-select-container .powerform-select-list .powerform-value:before {
<?php if ( powerform_array_value_exists( $properties, 'label-validation-color' ) && !empty( $properties['label-validation-color'] ) ) { ?> border-color:
<?php echo $properties['label-validation-color'] ?>;
<?php } else { ?> border-color: #E04562;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-select-container .powerform-select-list .powerform-value { box-shadow: inset 0 -1px 0 0 #777771; -moz-box-shadow: inset 0 -1px 0 0 #777771; -webkit-box-shadow: inset 0 -1px 0 0 #777771; color: #000000; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-select-container .powerform-select-list .powerform-value:before { background-color: #17A8E3; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-select-container .powerform-select-list .powerform-dropdown-handle [class*=powerform-icon-] { color: #777771; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_hover .powerform-select-container .powerform-select-list .powerform-value { color: #000000; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_hover .powerform-select-container .powerform-select-list .powerform-dropdown-handle [class*=powerform-icon-] { color: #17A8E3; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-select-container .powerform-select-list .powerform-value:before { background-color: #17A8E3; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-select-container .powerform-select-list .powerform-value { color: #000000; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-is_active .powerform-select-container .powerform-select-list .powerform-dropdown-handle [class*=powerform-icon-] { color: #17A8E3; } .powerform-ui.powerform-custom-form-

<?php echo $properties['form_id'] ?>.powerform-design--material .powerform-has_error .powerform-select-container .powerform-select-list .powerform-value:before { background-color: #E04562; }

<?php } ?>