<?php if ( powerform_array_value_exists( $properties, 'form-font-family' ) ) { ?>

	.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-calendar--default {
		<?php if ( powerform_array_value_exists( $properties, 'cform-calendar-font-family' ) ) { ?>
			<?php if ( $properties['cform-calendar-font-family'] != 'custom' && !empty( $properties['cform-calendar-font-family'] ) ) { ?>
				font-family: <?php echo $properties['cform-calendar-font-family'] ?>;
			<?php } else if ( $properties['cform-calendar-font-family'] == 'custom' && !empty( $properties['cform-calendar-custom-family'] ) ) { ?>
				font-family: <?php echo $properties['cform-calendar-custom-family'] ?>;
			<?php } else { ?>
				font-family: inherit;
			<?php } ?>
		<?php } else { ?>
			font-family: inherit;
		<?php } ?>
	}

<?php } else { ?>

	.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-calendar--default {
		font-family: inherit;
	}

<?php } ?>