<?php if ( powerform_array_value_exists( $properties, 'form-font-family' ) ) { ?>

	/*
	====================
	MU Panel Font Styles
	====================
	*/

	/* STATE: Default */

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p {
		<?php if ( powerform_array_value_exists( $properties, 'upload-multiple-panel-font-size' ) ) { ?>
			font-size: <?php echo $properties['upload-multiple-panel-font-size'] ?>px;
		<?php } else { ?>
			font-size: 14px;
		<?php } ?>
		line-height: 1.7;
		<?php if ( powerform_array_value_exists( $properties, 'upload-multiple-panel-font-family' ) ) { ?>
			<?php if ( $properties['upload-multiple-panel-font-family'] != 'custom' && !empty( $properties['upload-multiple-panel-font-family'] ) ) { ?>
				font-family: <?php echo $properties['upload-multiple-panel-font-family'] ?>;
			<?php } else if ( $properties['upload-multiple-panel-font-family'] == 'custom' && !empty( $properties['cform-button-custom-family'] ) ) { ?>
				font-family: <?php echo $properties['cform-button-custom-family'] ?>;
			<?php } ?>
		<?php } ?>
		<?php if ( powerform_array_value_exists( $properties, 'upload-multiple-panel-font-weight' ) ) { ?>
			<?php powerform_echo_font_weight( $properties, 'upload-multiple-panel-font-weight' ); ?>
		<?php } else { ?>
			font-weight: 400;
		<?php } ?>
	}

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a,
	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:visited,
	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:hover,
	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:focus,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:visited,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:hover,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:focus {
		font-weight: 700;
		text-decoration: underline;
	}

	/*
	====================
	MU File Color Styles
	====================
	*/

	/* STATE: Default */

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-uploaded-file .powerform-uploaded-file--title,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-uploaded-file .powerform-uploaded-file--title {
		<?php if ( powerform_array_value_exists( $properties, 'upload-multiple-file-name-font-size' ) ) { ?>
			font-size: <?php echo $properties['upload-multiple-file-name-font-size'] ?>px;
		<?php } else { ?>
			font-size: 13px;
		<?php } ?>
		line-height: 1.3;
		<?php if ( powerform_array_value_exists( $properties, 'upload-multiple-file-name-font-family' ) ) { ?>
			<?php if ( $properties['upload-multiple-file-name-font-family'] != 'custom' && !empty( $properties['upload-multiple-file-name-font-family'] ) ) { ?>
				font-family: <?php echo $properties['upload-multiple-file-name-font-family'] ?>;
			<?php } else if ( $properties['upload-multiple-file-name-font-family'] == 'custom' && !empty( $properties['cform-button-custom-family'] ) ) { ?>
				font-family: <?php echo $properties['cform-button-custom-family'] ?>;
			<?php } ?>
		<?php } ?>
		<?php if ( powerform_array_value_exists( $properties, 'upload-multiple-file-name-font-weight' ) ) { ?>
			<?php powerform_echo_font_weight( $properties, 'upload-multiple-file-name-font-weight' ); ?>
		<?php } else { ?>
			font-weight: 700;
		<?php } ?>
	}

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-uploaded-file .powerform-uploaded-file--size,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-uploaded-file .powerform-uploaded-file--size {
		<?php if ( powerform_array_value_exists( $properties, 'upload-multiple-file-size-font-size' ) ) { ?>
			font-size: <?php echo $properties['upload-multiple-file-size-font-size'] ?>px;
		<?php } else { ?>
			font-size: 13px;
		<?php } ?>
		line-height: 1.4em;
		<?php if ( powerform_array_value_exists( $properties, 'upload-multiple-file-size-font-family' ) ) { ?>
			<?php if ( $properties['upload-multiple-file-size-font-family'] != 'custom' && !empty( $properties['upload-multiple-file-size-font-family'] ) ) { ?>
				font-family: <?php echo $properties['upload-multiple-file-size-font-family'] ?>;
			<?php } else if ( $properties['upload-multiple-file-size-font-family'] == 'custom' && !empty( $properties['cform-button-custom-family'] ) ) { ?>
				font-family: <?php echo $properties['cform-button-custom-family'] ?>;
			<?php } ?>
		<?php } ?>
		<?php if ( powerform_array_value_exists( $properties, 'upload-multiple-file-size-font-weight' ) ) { ?>
			<?php powerform_echo_font_weight( $properties, 'upload-multiple-file-size-font-weight' ); ?>
		<?php } else { ?>
			font-weight: 700;
		<?php } ?>
	}

<?php } else { ?>

	/*
	====================
	MU Panel Font Styles
	====================
	*/

	/* STATE: Default */

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p {
		font-size: 13px;
		line-height: 1.7;
		font-weight: 400;
	}

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a,
	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:visited,
	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:hover,
	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:focus,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:visited,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:hover,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-multi-upload .powerform-multi-upload-message p a:focus {
		font-weight: 700;
		text-decoration: underline;
	}

	/*
	====================
	MU File Color Styles
	====================
	*/

	/* STATE: Default */

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-uploaded-file .powerform-uploaded-file--title,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-uploaded-file .powerform-uploaded-file--title {
		font-size: 13px;
		line-height: 1.3;
		font-weight: 700;
	}

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-uploaded-file .powerform-uploaded-file--size,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-uploaded-file .powerform-uploaded-file--size {
		font-size: 12px;
		line-height: 1.4em;
		font-weight: 700;
	}

<?php } ?>