<?php if ( powerform_array_value_exists( $properties, 'cform-color-settings' ) ) { ?>

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-label,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-label {
		<?php if ( powerform_array_value_exists( $properties, 'progress-label' ) && !empty( $properties['progress-label'] ) ) { ?>
			color: <?php echo $properties['progress-label'] ?>;
		<?php } else { ?>
			color: #777771;
		<?php } ?>
	}

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-bar,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-bar {
		<?php if ( powerform_array_value_exists( $properties, 'progress-background' ) && !empty( $properties['progress-background'] ) ) { ?>
			background-color: <?php echo $properties['progress-background'] ?>;
		<?php } else { ?>
			background-color: #E6E6E6;
		<?php } ?>
	}

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-bar span,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-bar span {
		<?php if ( powerform_array_value_exists( $properties, 'progress-background-status' ) && !empty( $properties['progress-background-status'] ) ) { ?>
			background-color: <?php echo $properties['progress-background-status'] ?>;
		<?php } else { ?>
			background-color: #17A8E3;
		<?php } ?>
	}

<?php } else { ?>

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-label,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-label {
		color: #777771;
	}

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-bar,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-bar {
		background-color: #E6E6E6;
	}

	.powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-bar span,
	.et-db #et-boc .et_pb_module .powerform-ui.powerform-custom-form-<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-pagination-progress .powerform-progress-bar span {
		background-color: #17A8E3;
	}

<?php } ?>