<?php if ( powerform_array_value_exists( $properties, 'nowrong-toggle-palette' ) ) { ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-title-color' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { color:
<?php echo $properties['nowrong-title-color'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { color: #333333; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-description-color' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { color:
<?php echo $properties['nowrong-description-color'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { color: #8C8C8C; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-question-color' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { color:
<?php echo $properties['nowrong-question-color'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { color: #333333; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-border-static' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design { border-color:
<?php echo $properties['nowrong-answer-border-static'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design { border-color: #EBEDEB; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-border-hover' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design:hover { border-color:
<?php echo $properties['nowrong-answer-border-hover'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design:hover { border-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-border-active' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + .powerform-answer--design { border-color:
<?php echo $properties['nowrong-answer-border-active'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + .powerform-answer--design { border-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-background-static' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design { background-color:
<?php echo $properties['nowrong-answer-background-static'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design { background-color: #FAFAFA; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-background-hover' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design:hover { background-color:
<?php echo $properties['nowrong-answer-background-hover'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design:hover { background-color: #F3FBFE; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-background-active' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + .powerform-answer--design { background-color:
<?php echo $properties['nowrong-answer-background-active'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + .powerform-answer--design { background-color: #F3FBFE; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-chkbo-static' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--check { border-color:
<?php echo $properties['nowrong-answer-chkbo-static'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--check { border-color: #BFBFBF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-chkbo-active' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + span .powerform-answer--check { border-color:
<?php echo $properties['nowrong-answer-chkbo-active'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + span .powerform-answer--check { border-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-chkbg-static' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--check { background-color:
<?php echo $properties['nowrong-answer-chkbg-static'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--check { background-color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-chkbg-active' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + span .powerform-answer--check { background-color:
<?php echo $properties['nowrong-answer-chkbg-active'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + span .powerform-answer--check { background-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-chck-icon' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--check { color:
<?php echo $properties['nowrong-answer-chck-icon'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--check { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-color-static' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name { color:
<?php echo $properties['nowrong-answer-color-static'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name { color: #888888; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-color-active' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + span .powerform-answer--name { color:
<?php echo $properties['nowrong-answer-color-active'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + span .powerform-answer--name { color: #333333; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-submit-background-static' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { background-color:
<?php echo $properties['nowrong-submit-background-static'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { background-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-submit-background-hover' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:hover { background-color:
<?php echo $properties['nowrong-submit-background-hover'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:hover { background-color: #008FCA; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-submit-background-active' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:active { background-color:
<?php echo $properties['nowrong-submit-background-active'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:active { background-color: #008FCA; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-submit-color-static' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { color:
<?php echo $properties['nowrong-submit-color-static'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-submit-color-hover' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:hover { color:
<?php echo $properties['nowrong-submit-color-hover'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:hover { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-submit-color-active' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:active { color:
<?php echo $properties['nowrong-submit-color-active'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:active { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-background-main' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result { background-color:
<?php echo $properties['nowrong-result-background-main'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result { background-color: #FAFAFA; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-border-color' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result { border-color:
<?php echo $properties['nowrong-result-border-color'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result { border-color: #EBEDEB; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-quiz-color' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name { color:
<?php echo $properties['nowrong-result-quiz-color'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name { color: #888888; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-retake-color-static' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { color:
<?php echo $properties['nowrong-result-retake-color-static'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-retake-color-hover' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:hover { color:
<?php echo $properties['nowrong-result-retake-color-hover'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:hover { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-retake-color-active' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:active { color:
<?php echo $properties['nowrong-result-retake-color-active'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:active { color: #FFFFFF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-retake-background-static' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { background-color:
<?php echo $properties['nowrong-result-retake-background-static'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { background-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-retake-background-hover' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:hover { background-color:
<?php echo $properties['nowrong-result-retake-background-hover'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:hover { background-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-retake-background-active' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:active { background-color:
<?php echo $properties['nowrong-result-retake-background-active'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:active { background-color: #17A8E3; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-background-body' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--text { background-color:
<?php echo $properties['nowrong-result-background-body'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--text { background-color: #EBEDEB; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-title-color' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title { color:
<?php echo $properties['nowrong-result-title-color'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title { color: #333333; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-description-color' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p { color:
<?php echo $properties['nowrong-result-description-color'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p { color: #4D4D4D; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-sshare-color' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { color:
<?php echo $properties['nowrong-sshare-color'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { color: #4D4D4D; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-social-facebook' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-facebook { color:
<?php echo $properties['nowrong-social-facebook'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-facebook { color: #0084BF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-social-twitter' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-twitter { color:
<?php echo $properties['nowrong-social-twitter'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-twitter { color: #1DA1F2; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-social-google' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-google-plus { color:
<?php echo $properties['nowrong-social-google'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-google-plus { color: #DB4437; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-social-linkedin' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-linkedin { color:
<?php echo $properties['nowrong-social-linkedin'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-linkedin { color: #0084BF; }
<?php } ?>
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { color: #333333; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { color: #8C8C8C; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { color: #333333; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design { background-color: #FAFAFA; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design { border-color: #EBEDEB; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design:hover { background-color: #F3FBFE; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--design:hover { border-color: #17A8E3; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + .powerform-answer--design { background-color: #F3FBFE; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + .powerform-answer--design { border-color: #17A8E3; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--check { border-color: #BFBFBF; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--check { background-color: #FFFFFF; color: #FFFFFF; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + span .powerform-answer--check { border-color: #17A8E3; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + span .powerform-answer--check { background-color: #17A8E3; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name { color: #888888; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer input:checked + span .powerform-answer--name { color: #333333; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { background-color: #17A8E3; color: #FFFFFF; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:hover { background-color: #008FCA; color: #FFFFFF; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button:active { background-color: #008FCA; color: #FFFFFF; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result { background-color: #FAFAFA; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result { border-color: #EBEDEB; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name { color: #888888; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { color: #FFFFFF; background-color: #17A8E3; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:hover { color: #FFFFFF; background-color: #17A8E3; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake:active { color: #FFFFFF; background-color: #17A8E3; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--text { background-color: #EBEDEB; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title { color: #333333; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p { color: #4D4D4D; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { color: #4D4D4D; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-facebook { color: #0084BF; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-twitter { color: #1DA1F2; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-google-plus { color: #DB4437; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon .wpdui-icon-social-linkedin { color: #0084BF; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-toggle-typography' ) && filter_var( $properties['nowrong-toggle-typography'], FILTER_VALIDATE_BOOLEAN ) ) { ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-title-font-size' ) ) { ?>
<?php if ( $properties['nowrong-title-font-size'] != '24' ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-size: calc(
<?php echo $properties['nowrong-title-font-size'] ?>px - 6px); } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-size:
<?php echo $properties['nowrong-title-font-size'] ?>px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-size--small.powerform-design--bold .powerform-quiz--title { font-size: calc(
<?php echo $properties['nowrong-title-font-size'] ?>px - 6px); } }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-size:
<?php echo $properties['nowrong-title-font-size'] ?>px; }
<?php } ?>
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-size: 36px; } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-size: 42px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-size--small.powerform-design--bold .powerform-quiz--title { font-size: 36px; } }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-title-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title {
<?php if ( $properties['nowrong-title-font-family'] != 'custom' && !empty( $properties['nowrong-title-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-title-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-title-font-family'] == 'custom' && !empty( $properties['nowrong-title-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-title-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-title-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-weight:
<?php echo $properties['nowrong-title-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-weight: 700; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-description-font-size' ) ) { ?>
<?php if ( $properties['nowrong-description-font-size'] != '16' ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-size: calc(
<?php echo $properties['nowrong-description-font-size'] ?>px - 4px); } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-size:
<?php echo $properties['nowrong-description-font-size'] ?>px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-size--small.powerform-design--bold .powerform-quiz--description { font-size: calc(
<?php echo $properties['nowrong-description-font-size'] ?>px - 4px); } }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-size:
<?php echo $properties['nowrong-description-font-size'] ?>px; }
<?php } ?>
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-size: 16px; } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-size: 20px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-size--small.powerform-design--bold .powerform-quiz--description { font-size: 16px; } }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-description-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description {
<?php if ( $properties['nowrong-description-font-family'] != 'custom' && !empty( $properties['nowrong-description-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-description-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-description-font-family'] == 'custom' && !empty( $properties['nowrong-description-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-description-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-description-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-weight:
<?php echo $properties['nowrong-description-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-weight: 400; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-question-font-size' ) ) { ?>
<?php if ( $properties['nowrong-question-font-size'] != '16' ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-size: calc(
<?php echo $properties['nowrong-question-font-size'] ?>px - 4px); } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-size:
<?php echo $properties['nowrong-question-font-size'] ?>px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-size--small.powerform-design--bold .powerform-question legend { font-size: calc(
<?php echo $properties['nowrong-question-font-size'] ?>px - 4px); } }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-size:
<?php echo $properties['nowrong-question-font-size'] ?>px; }
<?php } ?>
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-size: 20px; } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-size: 24px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-size--small.powerform-design--bold .powerform-question legend { font-size: 20px; } }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-question-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend {
<?php if ( $properties['nowrong-question-font-family'] != 'custom' && !empty( $properties['nowrong-question-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-question-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-question-font-family'] == 'custom' && !empty( $properties['nowrong-question-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-question-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-question-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-weight:
<?php echo $properties['nowrong-question-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-weight: 500; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-font-size' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name { font-size:
<?php echo $properties['nowrong-answer-font-size'] ?>px; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name { font-size: 14px; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name {
<?php if ( $properties['nowrong-answer-font-family'] != 'custom' && !empty( $properties['nowrong-answer-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-answer-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-answer-font-family'] == 'custom' && !empty( $properties['nowrong-answer-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-answer-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-answer-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name { font-weight:
<?php echo $properties['nowrong-answer-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name { font-weight: 500; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-submit-font-size' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { font-size:
<?php echo $properties['nowrong-submit-font-size'] ?>px; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { font-size: 14px; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-submit-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button {
<?php if ( $properties['nowrong-submit-font-family'] != 'custom' && !empty( $properties['nowrong-submit-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-submit-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-submit-font-family'] == 'custom' && !empty( $properties['nowrong-submit-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-submit-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-submit-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { font-weight:
<?php echo $properties['nowrong-submit-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { font-weight: 500; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-quiz-font-size' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name { font-size:
<?php echo $properties['nowrong-result-quiz-font-size'] ?>px; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name { font-size: 15px; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-quiz-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name {
<?php if ( $properties['nowrong-result-quiz-font-family'] != 'custom' && !empty( $properties['nowrong-result-quiz-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-result-quiz-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-result-quiz-font-family'] == 'custom' && !empty( $properties['nowrong-result-quiz-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-result-quiz-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-quiz-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name { font-weight:
<?php echo $properties['nowrong-result-quiz-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name { font-weight: 500; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-retake-font-size' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { font-size:
<?php echo $properties['nowrong-result-retake-font-size'] ?>px; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { font-size: 13px; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-retake-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake {
<?php if ( $properties['nowrong-result-retake-font-family'] != 'custom' && !empty( $properties['nowrong-result-retake-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-result-retake-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-result-retake-font-family'] == 'custom' && !empty( $properties['nowrong-result-retake-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-result-retake-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-retake-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { font-size:
<?php echo $properties['nowrong-result-retake-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { font-size: 500; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-title-font-size' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title { font-size:
<?php echo $properties['nowrong-result-title-font-size'] ?>px; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title { font-size: 15px; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-title-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title {
<?php if ( $properties['nowrong-result-title-font-family'] != 'custom' && !empty( $properties['nowrong-result-title-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-result-title-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-result-title-font-family'] == 'custom' && !empty( $properties['nowrong-result-title-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-result-title-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-title-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title { font-weight:
<?php echo $properties['nowrong-result-title-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title { font-weight: 500; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-description-font-size' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p { font-size:
<?php echo $properties['nowrong-result-description-font-size'] ?>px; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p { font-size: 13px; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-description-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p {
<?php if ( $properties['nowrong-result-description-font-family'] != 'custom' && !empty( $properties['nowrong-result-description-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-result-description-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-result-description-font-family'] == 'custom' && !empty( $properties['nowrong-result-description-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-result-description-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-result-description-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p { font-weight:
<?php echo $properties['nowrong-result-description-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p { font-weight: 400; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-sshare-font-size' ) ) { ?>
<?php if ( $properties['nowrong-sshare-font-size'] != '20' ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { font-size: calc(
<?php echo $properties['nowrong-sshare-font-size'] ?>px - 3px); } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { font-size:
<?php echo $properties['nowrong-sshare-font-size'] ?>px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold.powerform-size--small .powerform-social--text { font-size: calc(
<?php echo $properties['nowrong-sshare-font-size'] ?>px - 3px); } }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { font-size:
<?php echo $properties['nowrong-sshare-font-size'] ?>px; }
<?php } ?>
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { font-size: 20px; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-sshare-font-family' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text {
<?php if ( $properties['nowrong-sshare-font-family'] != 'custom' && !empty( $properties['nowrong-sshare-font-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-sshare-font-family'] ?>;
<?php } ?>
<?php if ( $properties['nowrong-sshare-font-family'] == 'custom' && !empty( $properties['nowrong-sshare-custom-family'] ) ) { ?> font-family:
<?php echo $properties['nowrong-sshare-custom-family'] ?>;
<?php } ?> }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { font-family: Roboto; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-sshare-font-weight' ) ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { font-weight:
<?php echo $properties['nowrong-sshare-font-weight'] ?>; }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { font-weight: 400; }
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'nowrong-social-size' ) ) { ?>
<?php if ( $properties['nowrong-social-size'] != '24' ) { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon { font-size: calc(
<?php echo $properties['nowrong-social-size'] ?>px - 6px); } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon { font-size:
<?php echo $properties['nowrong-social-size'] ?>px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold.powerform-size--small .powerform-social--icon { font-size: calc(
<?php echo $properties['nowrong-social-size'] ?>px - 6px); } }
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon { font-size:
<?php echo $properties['nowrong-social-size'] ?>px; }
<?php } ?>
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon { font-size: 33px; } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon { font-size: 36px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold.powerform-size--small .powerform-social--icon { font-size: 33px; } }
<?php } ?>
<?php } else { ?> .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-size: 36px; font-family: Roboto; font-weight: 700; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-size: 16px; font-family: Roboto; font-weight: 400; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-size: 20px; font-family: Roboto; font-weight: 500; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-answer .powerform-answer--name { font-size: 14px; font-family: Roboto; font-weight: 500; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-button { font-size: 14px; font-family: Roboto; font-weight: 500; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--quiz-name { font-size: 15px; font-family: Roboto; font-weight: 500; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--retake { font-size: 13px; font-family: Roboto; font-size: 500; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--title { font-size: 15px; font-family: Roboto; font-weight: 500; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description, .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-result .powerform-result--description p { font-size: 13px; font-family: Roboto; font-weight: 400; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--text { font-size: 20px; font-family: Roboto; font-weight: 400; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon { font-size: 33px; } @media (min-width: 783px){ .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--title { font-size: 42px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-size--small.powerform-design--bold .powerform-quiz--title { font-size: 36px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-quiz--description { font-size: 20px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-size--small.powerform-design--bold .powerform-quiz--description { font-size: 16px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-question legend { font-size: 24px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-size--small.powerform-design--bold .powerform-question legend { font-size: 20px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold .powerform-social--icon { font-size: 36px; } .powerform-quiz-
<?php echo $properties['form_id'] ?>.powerform-design--bold.powerform-size--small .powerform-social--icon { font-size: 33px; } }
<?php } ?>