<?php if ( powerform_array_value_exists( $properties, 'poll-colors' ) ) { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:active {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_static' ) && !empty( $properties['powerform-poll-input-border_static'] ) ) { ?> border-color:
<?php echo $properties['powerform-poll-input-border_static'] ?>;
<?php } else { ?> border-color: #777771;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-background_static' ) && !empty( $properties['powerform-poll-input-background_static'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-background_static'] ?>;
<?php } else { ?> background-color: #EDEDED;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'input_text' ) && !empty( $properties['input_text'] ) ) { ?> color:
<?php echo $properties['input_text'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:active {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_static' ) && !empty( $properties['powerform-poll-input-border_static'] ) ) { ?> border-color:
<?php echo $properties['powerform-poll-input-border_static'] ?>;
<?php } else { ?> border-color: #777771;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-background_static' ) && !empty( $properties['powerform-poll-input-background_static'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-background_static'] ?>;
<?php } else { ?> background-color: #EDEDED;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'input_text' ) && !empty( $properties['input_text'] ) ) { ?> color:
<?php echo $properties['input_text'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:-moz-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::-moz-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:-ms-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:-ms-input-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::-webkit-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::-webkit-input-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_hover .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_hover .powerform-input {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_hover' ) && !empty( $properties['powerform-poll-input-border_hover'] ) ) { ?> border-color:
<?php echo $properties['powerform-poll-input-border_hover'] ?>;
<?php } else { ?> border-color: #17A8E3;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-background_hover' ) && !empty( $properties['powerform-poll-input-background_hover'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-background_hover'] ?>;
<?php } else { ?> background-color: #E6E6E6;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_active .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_active .powerform-input {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_active' ) && !empty( $properties['powerform-poll-input-border_active'] ) ) { ?> border-color:
<?php echo $properties['powerform-poll-input-border_active'] ?>;
<?php } else { ?> border-color: #17A8E3;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-background_active' ) && !empty( $properties['powerform-poll-input-background_active'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-background_active'] ?>;
<?php } else { ?> background-color: #E6E6E6;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-has_error .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-has_error .powerform-input {
<?php if ( powerform_array_value_exists( $properties, 'input-border-error' ) && !empty( $properties['input-border-error'] ) ) { ?> border-color:
<?php echo $properties['input-border-error'] ?>;
<?php } else { ?> border-color: #E04562;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input-with-icon [class*="powerform-icon-"], .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input-with-icon [class*="powerform-icon-"] {
<?php if ( powerform_array_value_exists( $properties, 'input-icon' ) && !empty( $properties['input-icon'] ) ) { ?> color:
<?php echo $properties['input-icon'] ?>;
<?php } else { ?> color: #777771;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_active .powerform-input-with-icon [class*="powerform-icon-"], .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_active .powerform-input-with-icon [class*="powerform-icon-"] {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-border_active' ) && !empty( $properties['powerform-poll-input-border_active'] ) ) { ?> color:
<?php echo $properties['powerform-poll-input-border_active'] ?>;
<?php } else { ?> color: #17A8E3;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:active { border-color: #777771; background-color: #EDEDED; color: #000000; } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:active { border-color: #777771; background-color: #EDEDED; color: #000000; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:-moz-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::-moz-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:-ms-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input:-ms-input-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::-webkit-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input::-webkit-input-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_hover .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_hover .powerform-input { border-color: #17A8E3; background-color: #E6E6E6; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_active .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_active .powerform-input { border-color: #17A8E3; background-color: #E6E6E6; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-has_error .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-has_error .powerform-input { border-color: #E04562; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input-with-icon [class*="powerform-icon-"], .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-input-with-icon [class*="powerform-icon-"] { color: #777771; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_active .powerform-input-with-icon [class*="powerform-icon-"], .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--default .powerform-is_active .powerform-input-with-icon [class*="powerform-icon-"] { color: #17A8E3; }

<?php } ?>