<?php if ( powerform_array_value_exists( $properties, 'poll-colors' ) ) { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:active {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-background_static' ) && !empty( $properties['powerform-poll-input-background_static'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-background_static'] ?>;
<?php } else { ?> background-color: #EDEDED;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'input_text' ) && !empty( $properties['input_text'] ) ) { ?> color:
<?php echo $properties['input_text'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:active {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-background_static' ) && !empty( $properties['powerform-poll-input-background_static'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-background_static'] ?>;
<?php } else { ?> background-color: #EDEDED;
<?php } ?>
<?php if ( powerform_array_value_exists( $properties, 'input_text' ) && !empty( $properties['input_text'] ) ) { ?> color:
<?php echo $properties['input_text'] ?>;
<?php } else { ?> color: #000000;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:-moz-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::-moz-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:-ms-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:-ms-input-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::-webkit-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::-webkit-input-placeholder {
<?php if ( powerform_array_value_exists( $properties, 'input_placeholder' ) && !empty( $properties['input_placeholder'] ) ) { ?> color:
<?php echo $properties['input_placeholder'] ?>;
<?php } else { ?> color: #888888;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-is_hover .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-is_hover .powerform-input {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-background_hover' ) && !empty( $properties['powerform-poll-input-background_hover'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-background_hover'] ?>;
<?php } else { ?> background-color: #E6E6E6;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-is_active .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-is_active .powerform-input {
<?php if ( powerform_array_value_exists( $properties, 'powerform-poll-input-background_active' ) && !empty( $properties['powerform-poll-input-background_active'] ) ) { ?> background-color:
<?php echo $properties['powerform-poll-input-background_active'] ?>;
<?php } else { ?> background-color: #E6E6E6;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-has_error .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-has_error .powerform-input {
<?php if ( powerform_array_value_exists( $properties, 'input-border-error' ) && !empty( $properties['input-border-error'] ) ) { ?> box-shadow: inset 2px 0 0 0
<?php echo $properties['input-border-error'] ?>; -moz-box-shadow: inset 2px 0 0 0
<?php echo $properties['input-border-error'] ?>; -webkit-box-shadow: inset 2px 0 0 0
<?php echo $properties['input-border-error'] ?>;
<?php } else { ?> box-shadow: inset 2px 0 0 0 #E04562; -moz-box-shadow: inset 2px 0 0 0 #E04562; -webkit-box-shadow: inset 2px 0 0 0 #E04562;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:hover, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:focus, .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:active { background-color: #EDEDED; color: #000000; } .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:focus, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:active { background-color: #EDEDED; color: #000000; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:-moz-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::-moz-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::-moz-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:-ms-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input:-ms-input-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::-webkit-input-placeholder, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-input::-webkit-input-placeholder { color: #888888; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-is_hover .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-is_hover .powerform-input { background-color: #E6E6E6; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-is_active .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-is_active .powerform-input { background-color: #E6E6E6; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-has_error .powerform-input, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-has_error .powerform-input { box-shadow: inset 2px 0 0 0 #E04562; -moz-box-shadow: inset 2px 0 0 0 #E04562; -webkit-box-shadow: inset 2px 0 0 0 #E04562; }

<?php } ?>