<?php if ( powerform_array_value_exists( $properties, 'poll-colors' ) ) { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link {
<?php if ( powerform_array_value_exists( $properties, 'color_link' ) ) { ?> color:
<?php echo $properties['color_link'] ?>;
<?php } else { ?> color: #17A8E3;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:visited, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:visited {
<?php if ( powerform_array_value_exists( $properties, 'color_link' ) ) { ?> color:
<?php echo $properties['color_link'] ?>;
<?php } else { ?> color: #17A8E3;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:hover {
<?php if ( powerform_array_value_exists( $properties, 'color_link_hover' ) ) { ?> color:
<?php echo $properties['color_link_hover'] ?>;
<?php } else { ?> color: #008FCA;
<?php } ?> } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:active, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:active {
<?php if ( powerform_array_value_exists( $properties, 'color_link_active' ) ) { ?> color:
<?php echo $properties['color_link_active'] ?>;
<?php } else { ?> color: #008FCA;
<?php } ?> }

<?php } else { ?> .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link { color: #17A8E3; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:visited, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:visited { color: #17A8E3; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:hover, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:hover { color: #008FCA; } .powerform-ui.powerform-poll-

<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:active, .et-db #et-boc .et_pb_module .powerform-ui.powerform-poll-
<?php echo $properties['form_id'] ?>.powerform-design--flat .powerform-link:active { color: #008FCA; }

<?php } ?>